# dependencies
node_modules
.yarn/*

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env
.env*.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
